/* Color inputs */
input.form-color[type=color] {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  padding: 0px;
  cursor: pointer;
}

/* Styles to control the color inputs in Firefox. */
input.form-color[type=color]::-moz-color-swatch {
  border: none;
  border-radius: 100%;
}

/* Styles to control the color inputs in Chrome. */
input.form-color[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

input.form-color[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}